n8n.openempower.com {
	reverse_proxy n8n:5678
}

admin.techmeout.it {
	reverse_proxy medusa:9000
}

monitor.openempower.com {
	reverse_proxy grafana:3000
}

admin-puntofeste.techmeout.it {
	reverse_proxy puntofeste-backend:9000
}

admin-smoothclothingbrand.techmeout.it {
	reverse_proxy smoothclothingbrand-backend:9000
}
